.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul{
  padding: 5px;
  margin: 0px;
  background-color: #61dafb;
}

.nav-right {
    text-align: right;
}

.nav-ul li a{
  color: blanchedalmond;
  padding: 5px;
  text-decoration: none;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #61dafb;
}

.register, .product{
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.inputbox{
  display: block;
  margin: 25px;
  padding: 7px;
  width: 300px;
  border: 2px solid skyblue;
}

.appbutton{
  margin: 25px;
  padding: 10px;
  width: 150px;
  background-color: #61dafb;
  border: 2px solid;
  cursor: pointer;
  border-radius: 6px;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}

.invalid-input{
  color: red;
  margin-top: -20px;
  display: block;
  margin-left: 25px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 130px;
}

.product-list ul{
  margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 2px solid skyblue;
  padding-left: 20px;
}